data/congress/fec/contributions/victoria_spartz_2015-25.csv
data/congress/fec/contributions/rand_paul_2015-25.csv
data/congress/fec/contributions/nancy_pelosi_2023-25.csv
data/congress/fec/contributions/nancy_pelosi_2021-22.csv
data/congress/fec/contributions/nancy_pelosi_2019-20.csv
data/congress/fec/contributions/nancy_pelosi_2015-18.csv
data/congress/fec/contributions/michael_burgess_2015-25.csv
data/congress/fec/contributions/marjorie_taylor_greene_2015-25.csv
data/congress/fec/contributions/jim_jordan_2015-2025.csv
data/congress/fec/contributions/elizabeth_warren_2023-25.csv
data/congress/fec/contributions/elizabeth_warren_2015-22.csv
data/congress/fec/contributions/eli_crane_2015-2025.csv
data/congress/fec/contributions/bernie_sanders_2025.csv
data/congress/fec/contributions/bernie_sanders_2023-24.csv
data/congress/fec/contributions/bernie_sanders_2021-22.csv
data/congress/fec/contributions/bernie_sanders_2015-20.csv
data/congress/fec/contributions/alexandria_ocasio_cortez_2015-25.csv
data/congress/fec/contributions/nancy_pelosi_2015-25.csv
data/congress/fec/contributions/elizabeth_warren_2015-25.csv
data/congress/fec/contributions/bernie_sanders_2015-25.csv
